@{
    ViewBag.Title = "About Marissa";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Hi my name is Marissa Balish. I am currently a senior studying MIS. I am passionate about golf and it is what brought me to OU. I am grateful I chose such a great university!</p>
