@{
    ViewBag.Title = "Contact Marissa";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    3030 Canterbury Dr.<br />
    Pittsburgh, PA 15101<br />
    <abbr title="Phone">P:</abbr>
    412.334.0318
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:mb905315@ohio.edu">mb905315@ohio.edu</a><br />
   
</address>